.dashboard-analytics .tile-box .icon {
  height: 2rem;
  width: 2rem;
  background-color: transparent;
}
.dashboard-analytics .tile-box .icon > * {
  height: 2rem;
  width: 2rem;
  // color: var(--ct-body-sc-bg-2);
  color: var(--bs-primary) !important;
  //   background-color: transparent;
}
// .dashboard-analytics .icon {
//   background-color: red;
// }
