.section-1 {
  max-width: 100vw;
  overflow-x: hidden;

  & > div {
    height: 100vh;
  }
  & > div:nth-child(odd) {
    // background-color: red;
  }
  & > div:nth-child(even) {
    // background-color: aqua;
  }
  .section-1-video-wrapper {
    background-image: url(../../../../../../public//dji-official//cms//uploads/d56300e289163c0a2a8dd9f5c67b49c4.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
  }
}
