.dashboard-projects {
  // width: calc(100% - 260px);
}
.dashboard-projects .top-widgets .icon > * {
  height: 2rem;
  width: 2rem;
  margin: 0.5rem;
  color: var(--ct-color-font-muted) !important;
  //   color: red;
}

.dashboard-projects .dashboard-projects-calender-marker .react-calendar {
  width: 100% !important;
  border: none;
}
