.last-section {
  // margin-top: 40vh;
  .last-section-wrapper {
    height: 40vh;
    background-color: red;
    background-size: cover;
    background-position: center center;
    padding: 5vw;
  }
}
