.section-4 {
  margin-top: var(--header-height);
  .section-4-drone-image {
    height: 50vh;
    width: 100%;
    background-size: cover;
    background-position: center center;
    // background-color: aqua;
  }
}
