@mixin fixed-navbar {
  .fixed-navbar-wrapper,
  .fixed-navbar-wrapper-fluid,
  .fixed-navbar-wrapper-xxl,
  .fixed-navbar-wrapper-xl,
  .fixed-navbar-wrapper-lg,
  .fixed-navbar-wrapper-md,
  .fixed-navbar-wrapper-sm {
    width: 100%;
    // padding-right: var(--bs-gutter-x, 0.75rem);
    // padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;
    overflow-x: hidden;
  }

  @media (max-width: 700px) {
    .fixed-navbar-wrapper-sm,
    .fixed-navbar-wrapper {
      padding-right: 0px;
      padding-left: 0px;
    }
  }
  @media (min-width: 576px) {
    .fixed-navbar-wrapper-sm,
    .fixed-navbar-wrapper {
      width: 100vw;
      max-width: 100vw;
    }
  }
  @media (min-width: 768px) {
    .fixed-navbar-wrapper-md,
    .fixed-navbar-wrapper-sm,
    .fixed-navbar-wrapper {
      max-width: 720px;
    }
  }
  @media (min-width: 992px) {
    .fixed-navbar-wrapper-lg,
    .fixed-navbar-wrapper-md,
    .fixed-navbar-wrapper-sm,
    .fixed-navbar-wrapper {
      max-width: 960px;
    }
  }
  @media (min-width: 1200px) {
    .fixed-navbar-wrapper-xl,
    .fixed-navbar-wrapper-lg,
    .fixed-navbar-wrapper-md,
    .fixed-navbar-wrapper-sm,
    .fixed-navbar-wrapper {
      max-width: 1140px;
    }
  }
  @media (min-width: 1400px) {
    .fixed-navbar-wrapper-xxl,
    .fixed-navbar-wrapper-xl,
    .fixed-navbar-wrapper-lg,
    .fixed-navbar-wrapper-md,
    .fixed-navbar-wrapper-sm,
    .fixed-navbar-wrapper {
      max-width: 1320px;
    }
  }
}
