.style__browserIncompatible-content___1c1_p .style__browser-modal___FH6Pe {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(35, 37, 38, .7);
    z-index: 1190
}

.style__browserIncompatible-content___1c1_p .style__brower-box___2zTyx {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1200
}

.style__browserIncompatible-content___1c1_p .style__browser-content___1bEYn {
    width: 700px;
    padding-bottom: 80px;
    padding-top: 30px;
    background-color: #fff
}

.style__browserIncompatible-content___1c1_p .style__browser-dji-logo___1dy2f {
    display: block;
    width: 50px;
    height: 29px;
    margin: 45px auto 40px;
    background-repeat: no-repeat
}

.style__browserIncompatible-content___1c1_p .style__browser-text-title___Bj-Yi {
    text-transform: uppercase;
    font-size: 24px;
    color: #000;
    font-weight: 500;
    text-align: center
}

.style__browserIncompatible-content___1c1_p .style__browser-text-desc___v7EoX {
    margin-top: 30px;
    margin-bottom: 50px;
    font-size: 14px;
    color: #000;
    text-align: center
}

.style__browserIncompatible-content___1c1_p .style__browser-list___U3Mhg {
    width: 600px;
    margin: 40px auto;
    height: 130px;
    display: flex;
    justify-content: space-between
}

.style__browserIncompatible-content___1c1_p .style__browser-item___1XFaD {
    width: 150px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto
}

.style__browserIncompatible-content___1c1_p .style__browser-item___1XFaD h4.style__name___3jE11 {
    color: #1897f2;
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    font-weight: 700
}

.style__browserIncompatible-content___1c1_p .style__browser-chrome___12_0k,
.style__browserIncompatible-content___1c1_p .style__browser-edge___1ZY3b,
.style__browserIncompatible-content___1c1_p .style__browser-fiefox___2Ieax,
.style__browserIncompatible-content___1c1_p .style__browser-safair___3RZmj {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    background-repeat: no-repeat
}

abbr,
address,
article,
aside,
audio,
b,
blockquote,
body,
body div,
caption,
cite,
code,
dd,
del,
details,
dfn,
dl,
dt,
em,
fieldset,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
p,
pre,
q,
samp,
section,
small,
span,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: 400;
    vertical-align: baseline;
    background: transparent
}

article,
aside,
details,
figure,
footer,
header,
main,
nav,
section,
summary {
    display: block
}

body {
    background-color: #fff
}

*,
:after,
:before {
    box-sizing: inherit
}

embed,
img,
object {
    max-width: 100%
}

html {
    overflow-y: scroll
}

ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:after,
blockquote:before,
q:after,
q:before {
    content: "";
    content: none
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    text-decoration: none
}

a.index__active___GPAYV,
a:focus,
a:hover {
    text-decoration: none
}

del {
    text-decoration: line-through
}

abbr[title],
dfn[title] {
    border-bottom: 1px dotted #000;
    cursor: help
}

table {
    border-collapse: separate
}

th {
    font-weight: 700;
    vertical-align: bottom
}

td {
    font-weight: 400;
    vertical-align: top
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0
}

input,
select {
    vertical-align: middle
}

pre {
    white-space: pre;
    white-space: pre-wrap;
    white-space: pre-line;
    word-wrap: break-word
}

input[type=radio] {
    vertical-align: text-bottom
}

input[type=checkbox] {
    vertical-align: bottom
}

.index__ie7___3ozDz input[type=checkbox] {
    vertical-align: baseline
}

.index__ie6___1zE-e input {
    vertical-align: text-bottom
}

input,
select,
textarea {
    font: 99% sans-serif
}

table {
    font-size: inherit;
    font: 100%
}

small {
    font-size: 85%
}

strong {
    font-weight: 700
}

td,
td img {
    vertical-align: top
}

code,
kbd,
pre,
samp {
    font-family: monospace, sans-serif
}

.index__clickable___zULFn,
button,
input[type=button],
input[type=file],
input[type=submit],
label {
    cursor: pointer
}

button,
input,
select,
textarea {
    margin: 0
}

button,
input[type=button] {
    width: auto;
    overflow: visible
}

.index__ie7___3ozDz img {
    -ms-interpolation-mode: bicubic
}

.index__clearfix___3NOy8:after {
    content: " ";
    display: block;
    clear: both
}

* {
    padding: 0;
    margin: 0;
    box-sizing: inherit
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden],
template {
    display: none
}

a {
    background-color: transparent
}

a:active,
a:hover {
    outline: 0
}

abbr[title] {
    border-bottom: 1px dotted
}

b,
strong {
    font-weight: 700
}

dfn {
    font-style: italic
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

mark {
    background: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -.5em
}

sub {
    bottom: -.25em
}

img {
    border: 0
}

svg:not(:root) {
    overflow: hidden
}

figure {
    margin: 1em 40px
}

hr {
    box-sizing: content-box;
    height: 0
}

pre {
    overflow: auto
}

code,
kbd,
pre,
samp {
    font-family: monospace;
    font-size: 1em
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0
}

button {
    overflow: visible
}

button,
select {
    text-transform: none
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer
}

button[disabled],
html input[disabled] {
    cursor: default
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0
}

input {
    line-height: normal
}

input[type=checkbox],
input[type=radio] {
    box-sizing: border-box;
    padding: 0;
    vertical-align: text-bottom
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    height: auto
}

input[type=search] {
    -webkit-appearance: textfield;
    box-sizing: content-box
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em
}

legend {
    border: 0;
    padding: 0
}

textarea {
    overflow: auto
}

optgroup {
    font-weight: 700
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

td,
th {
    padding: 0
}

.bg-cover {
    background-size: cover
}

.bg-contain,
.bg-cover {
    background-repeat: no-repeat;
    background-position: 50%
}

.bg-contain {
    background-size: contain
}

@font-face {
    font-family: Open Sans;
    font-weight: 300;
    font-style: normal;
    src: url(/reactor/assets/_next/static/fonts/OpenSans-Light.80403756.eot);
    src: url(/reactor/assets/_next/static/fonts/OpenSans-Light.80403756.eot?#iefix) format("embedded-opentype"), url(/reactor/assets/_next/static/fonts/OpenSans-Light.963eb329.woff) format("woff"), url(/reactor/assets/_next/static/fonts/OpenSans-Light.ecb4572a.ttf) format("truetype"), url(/reactor/assets/_next/static/fonts/OpenSans-Light.d79f0219.svg#OpenSansLight) format("svg");
    font-display: swap
}

@font-face {
    font-family: Open Sans;
    font-weight: 400;
    font-style: normal;
    src: url(/reactor/assets/_next/static/fonts/OpenSans-Regular.a35546ee.eot);
    src: url(/reactor/assets/_next/static/fonts/OpenSans-Regular.a35546ee.eot?#iefix) format("embedded-opentype"), url(/reactor/assets/_next/static/fonts/OpenSans-Regular.ac327c4d.woff) format("woff"), url(/reactor/assets/_next/static/fonts/OpenSans-Regular.cd729635.ttf) format("truetype"), url(/reactor/assets/_next/static/fonts/OpenSans-Regular.f641a7d4.svg#OpenSansRegular) format("svg");
    font-display: swap
}

@font-face {
    font-family: Open Sans;
    font-weight: 500;
    font-style: normal;
    src: url(/reactor/assets/_next/static/fonts/OpenSans-Semibold.0ea04502.eot);
    src: url(/reactor/assets/_next/static/fonts/OpenSans-Semibold.0ea04502.eot?#iefix) format("embedded-opentype"), url(/reactor/assets/_next/static/fonts/OpenSans-Semibold.9f214421.woff) format("woff"), url(/reactor/assets/_next/static/fonts/OpenSans-Semibold.33f225b8.ttf) format("truetype"), url(/reactor/assets/_next/static/fonts/OpenSans-Semibold.bb100c99.svg#OpenSansSemibold) format("svg");
    font-display: swap
}

@font-face {
    font-family: Open Sans;
    font-weight: 600;
    font-style: normal;
    src: url(/reactor/assets/_next/static/fonts/OpenSans-Semibold.0ea04502.eot);
    src: url(/reactor/assets/_next/static/fonts/OpenSans-Semibold.0ea04502.eot?#iefix) format("embedded-opentype"), url(/reactor/assets/_next/static/fonts/OpenSans-Semibold.9f214421.woff) format("woff"), url(/reactor/assets/_next/static/fonts/OpenSans-Semibold.33f225b8.ttf) format("truetype"), url(/reactor/assets/_next/static/fonts/OpenSans-Semibold.bb100c99.svg#OpenSansSemibold) format("svg");
    font-display: swap
}

@font-face {
    font-family: Open Sans;
    font-weight: 700;
    font-style: normal;
    src: url(/reactor/assets/_next/static/fonts/OpenSans-Bold.7ae9b8ba.eot);
    src: url(/reactor/assets/_next/static/fonts/OpenSans-Bold.7ae9b8ba.eot?#iefix) format("embedded-opentype"), url(/reactor/assets/_next/static/fonts/OpenSans-Bold.89266734.woff) format("woff"), url(/reactor/assets/_next/static/fonts/OpenSans-Bold.5a100916.ttf) format("truetype"), url(/reactor/assets/_next/static/fonts/OpenSans-Bold.d6291f88.svg#OpenSansBold) format("svg");
    font-display: swap
}

@font-face {
    font-family: Open Sans;
    font-weight: 300;
    font-style: italic;
    src: url(/reactor/assets/_next/static/fonts/OpenSans-LightItalic.6725fc49.eot);
    src: url(/reactor/assets/_next/static/fonts/OpenSans-LightItalic.6725fc49.eot?#iefix) format("embedded-opentype"), url(/reactor/assets/_next/static/fonts/OpenSans-LightItalic.97534dd4.woff) format("woff"), url(/reactor/assets/_next/static/fonts/OpenSans-LightItalic.26f1e68d.ttf) format("truetype"), url(/reactor/assets/_next/static/fonts/OpenSans-LightItalic.b64e9910.svg#OpenSansLightItalic) format("svg");
    font-display: swap
}

@font-face {
    font-family: Open Sans;
    font-weight: 400;
    font-style: italic;
    src: url(/reactor/assets/_next/static/fonts/OpenSans-Italic.e487b7cb.eot);
    src: url(/reactor/assets/_next/static/fonts/OpenSans-Italic.e487b7cb.eot?#iefix) format("embedded-opentype"), url(/reactor/assets/_next/static/fonts/OpenSans-Italic.52507468.woff) format("woff"), url(/reactor/assets/_next/static/fonts/OpenSans-Italic.9b30f134.ttf) format("truetype"), url(/reactor/assets/_next/static/fonts/OpenSans-Italic.d6671d41.svg#OpenSansItalic) format("svg");
    font-display: swap
}

@font-face {
    font-family: Open Sans;
    font-weight: 500;
    font-style: italic;
    src: url(/reactor/assets/_next/static/fonts/OpenSans-SemiboldItalic.da061416.eot);
    src: url(/reactor/assets/_next/static/fonts/OpenSans-SemiboldItalic.da061416.eot?#iefix) format("embedded-opentype"), url(/reactor/assets/_next/static/fonts/OpenSans-SemiboldItalic.ec55f263.woff) format("woff"), url(/reactor/assets/_next/static/fonts/OpenSans-SemiboldItalic.1c0b4eb9.ttf) format("truetype"), url(/reactor/assets/_next/static/fonts/OpenSans-SemiboldItalic.ddc348f2.svg#OpenSansSemiboldItalic) format("svg");
    font-display: swap
}

@font-face {
    font-family: Open Sans;
    font-weight: 600;
    font-style: italic;
    src: url(/reactor/assets/_next/static/fonts/OpenSans-SemiboldItalic.da061416.eot);
    src: url(/reactor/assets/_next/static/fonts/OpenSans-SemiboldItalic.da061416.eot?#iefix) format("embedded-opentype"), url(/reactor/assets/_next/static/fonts/OpenSans-SemiboldItalic.ec55f263.woff) format("woff"), url(/reactor/assets/_next/static/fonts/OpenSans-SemiboldItalic.1c0b4eb9.ttf) format("truetype"), url(/reactor/assets/_next/static/fonts/OpenSans-SemiboldItalic.ddc348f2.svg#OpenSansSemiboldItalic) format("svg");
    font-display: swap
}

@font-face {
    font-family: Open Sans;
    font-weight: 700;
    font-style: italic;
    src: url(/reactor/assets/_next/static/fonts/OpenSans-BoldItalic.ea07932c.eot);
    src: url(/reactor/assets/_next/static/fonts/OpenSans-BoldItalic.ea07932c.eot?#iefix) format("embedded-opentype"), url(/reactor/assets/_next/static/fonts/OpenSans-BoldItalic.7be88e73.woff) format("woff"), url(/reactor/assets/_next/static/fonts/OpenSans-BoldItalic.c36b5ac7.ttf) format("truetype"), url(/reactor/assets/_next/static/fonts/OpenSans-BoldItalic.a54aba83.svg#OpenSansBold) format("svg");
    font-display: swap
}

@font-face {
    font-family: Dji;
    font-weight: 300;
    src: url(/reactor/assets/_next/static/fonts/Dji-Light.433ffd15.eot);
    src: url(/reactor/assets/_next/static/fonts/Dji-Light.433ffd15.eot?#iefix) format("embedded-opentype"), url(/reactor/assets/_next/static/fonts/Dji-Light.e2269b42.woff) format("woff"), url(/reactor/assets/_next/static/fonts/Dji-Light.22dbc804.ttf) format("truetype"), url(/reactor/assets/_next/static/fonts/Dji-Light.c517e262.svg#DjiLight) format("svg");
    font-display: swap
}

@font-face {
    font-family: Dji;
    font-weight: 400;
    src: url(/reactor/assets/_next/static/fonts/Dji-Book.b885d891.eot);
    src: url(/reactor/assets/_next/static/fonts/Dji-Book.b885d891.eot?#iefix) format("embedded-opentype"), url(/reactor/assets/_next/static/fonts/Dji-Book.4d58b5bb.woff) format("woff"), url(/reactor/assets/_next/static/fonts/Dji-Book.080de94b.ttf) format("truetype"), url(/reactor/assets/_next/static/fonts/Dji-Book.4a6172ec.svg#DjiBook) format("svg");
    font-display: swap
}

@font-face {
    font-family: Dji;
    font-weight: 500;
    src: url(/reactor/assets/_next/static/fonts/Dji-Demi.0c69bded.eot);
    src: url(/reactor/assets/_next/static/fonts/Dji-Demi.0c69bded.eot?#iefix) format("embedded-opentype"), url(/reactor/assets/_next/static/fonts/Dji-Demi.401cd009.woff) format("woff"), url(/reactor/assets/_next/static/fonts/Dji-Demi.9c0743fc.ttf) format("truetype"), url(/reactor/assets/_next/static/fonts/Dji-Demi.c4458ac4.svg#DjiDemi) format("svg");
    font-display: swap
}

@font-face {
    font-family: Gotham;
    font-weight: 300;
    src: url(/reactor/assets/_next/static/fonts/Gotham-Light.2f3b7a36.eot);
    src: url(/reactor/assets/_next/static/fonts/Gotham-Light.2f3b7a36.eot?#iefix) format("embedded-opentype"), url(/reactor/assets/_next/static/fonts/Gotham-Light.8500f04e.woff) format("woff"), url(/reactor/assets/_next/static/fonts/Gotham-Light.ccf2d84a.ttf) format("truetype"), url(/reactor/assets/_next/static/fonts/Gotham-Light.3c56db9e.svg#GothamLight) format("svg");
    font-display: swap
}

@font-face {
    font-family: Gotham;
    font-weight: 400;
    src: url(/reactor/assets/_next/static/fonts/Gotham-Book.1efdb069.eot);
    src: url(/reactor/assets/_next/static/fonts/Gotham-Book.1efdb069.eot?#iefix) format("embedded-opentype"), url(/reactor/assets/_next/static/fonts/Gotham-Book.c6756160.woff) format("woff"), url(/reactor/assets/_next/static/fonts/Gotham-Book.99ae951b.ttf) format("truetype"), url(/reactor/assets/_next/static/fonts/Gotham-Book.03dfaa3b.svg#GothamBook) format("svg");
    font-display: swap
}

@font-face {
    font-family: Gotham;
    font-weight: 500;
    src: url(/reactor/assets/_next/static/fonts/Gotham-Medium.18f5938c.eot);
    src: url(/reactor/assets/_next/static/fonts/Gotham-Medium.18f5938c.eot?#iefix) format("embedded-opentype"), url(/reactor/assets/_next/static/fonts/Gotham-Medium.2e250873.woff) format("woff"), url(/reactor/assets/_next/static/fonts/Gotham-Medium.d01a07ef.ttf) format("truetype"), url(/reactor/assets/_next/static/fonts/Gotham-Medium.44a74d96.svg#GothamMedium) format("svg");
    font-display: swap
}

@font-face {
    font-family: Gotham;
    font-weight: 600;
    src: url(/reactor/assets/_next/static/fonts/Gotham-Medium.18f5938c.eot);
    src: url(/reactor/assets/_next/static/fonts/Gotham-Medium.18f5938c.eot?#iefix) format("embedded-opentype"), url(/reactor/assets/_next/static/fonts/Gotham-Medium.2e250873.woff) format("woff"), url(/reactor/assets/_next/static/fonts/Gotham-Medium.d01a07ef.ttf) format("truetype"), url(/reactor/assets/_next/static/fonts/Gotham-Medium.44a74d96.svg#GothamMedium) format("svg");
    font-display: swap
}

@font-face {
    font-family: Gotham;
    font-weight: 700;
    src: url(/reactor/assets/_next/static/fonts/Gotham-Bold.635dc9db.eot);
    src: url(/reactor/assets/_next/static/fonts/Gotham-Bold.635dc9db.eot?#iefix) format("embedded-opentype"), url(/reactor/assets/_next/static/fonts/Gotham-Bold.dc72ea54.woff) format("woff"), url(/reactor/assets/_next/static/fonts/Gotham-Bold.925608f9.ttf) format("truetype"), url(/reactor/assets/_next/static/fonts/Gotham-Bold.cab616e9.svg#GothamBold) format("svg");
    font-display: swap
}

.dji-de,
.dji-de .atom-design-v1 *,
.dji-en,
.dji-en .atom-design-v1 *,
.dji-es,
.dji-es .atom-design-v1 *,
.dji-fr,
.dji-fr .atom-design-v1 *,
.dji-it,
.dji-it .atom-design-v1 *,
.dji-pt-BR,
.dji-pt-BR .atom-design-v1 *,
.dji-ru,
.dji-ru .atom-design-v1 *,
.dji-zh-CN,
.dji-zh-CN .atom-design-v1 *,
.dji-zh-TW,
.dji-zh-TW .atom-design-v1 * {
    font-family: Open Sans, PingFang SC, Microsoft YaHei, Helvetica Neue, Hiragino Sans GB, WenQuanYi Micro Hei, Arial, "sans-serif"
}

.dji-de .btn,
.dji-de dl dt,
.dji-de h1,
.dji-de h2,
.dji-de h3,
.dji-de h4,
.dji-de h5,
.dji-de h6,
.dji-en .btn,
.dji-en dl dt,
.dji-en h1,
.dji-en h2,
.dji-en h3,
.dji-en h4,
.dji-en h5,
.dji-en h6,
.dji-es .btn,
.dji-es dl dt,
.dji-es h1,
.dji-es h2,
.dji-es h3,
.dji-es h4,
.dji-es h5,
.dji-es h6,
.dji-fr .btn,
.dji-fr dl dt,
.dji-fr h1,
.dji-fr h2,
.dji-fr h3,
.dji-fr h4,
.dji-fr h5,
.dji-fr h6,
.dji-it .btn,
.dji-it dl dt,
.dji-it h1,
.dji-it h2,
.dji-it h3,
.dji-it h4,
.dji-it h5,
.dji-it h6,
.dji-pt-BR .btn,
.dji-pt-BR dl dt,
.dji-pt-BR h1,
.dji-pt-BR h2,
.dji-pt-BR h3,
.dji-pt-BR h4,
.dji-pt-BR h5,
.dji-pt-BR h6,
.dji-ru .btn,
.dji-ru dl dt,
.dji-ru h1,
.dji-ru h2,
.dji-ru h3,
.dji-ru h4,
.dji-ru h5,
.dji-ru h6,
.dji-zh-CN .btn,
.dji-zh-CN dl dt,
.dji-zh-CN h1,
.dji-zh-CN h2,
.dji-zh-CN h3,
.dji-zh-CN h4,
.dji-zh-CN h5,
.dji-zh-CN h6,
.dji-zh-TW .btn,
.dji-zh-TW dl dt,
.dji-zh-TW h1,
.dji-zh-TW h2,
.dji-zh-TW h3,
.dji-zh-TW h4,
.dji-zh-TW h5,
.dji-zh-TW h6 {
    font-family: Open Sans, PingFang SC, Microsoft YaHei, Helvetica Neue, Hiragino Sans GB, WenQuanYi Micro Hei, Arial, "sans-serif";
    font-weight: 500
}

.dji-de .font-opensans,
.dji-en .font-opensans,
.dji-es .font-opensans,
.dji-fr .font-opensans,
.dji-it .font-opensans,
.dji-pt-BR .font-opensans,
.dji-ru .font-opensans,
.dji-zh-CN .font-opensans,
.dji-zh-TW .font-opensans {
    font-family: Open Sans, PingFang SC, Microsoft YaHei, Helvetica Neue, Hiragino Sans GB, WenQuanYi Micro Hei, Arial, "sans-serif" !important
}

.dji-de .font-dji,
.dji-en .font-dji,
.dji-es .font-dji,
.dji-fr .font-dji,
.dji-it .font-dji,
.dji-pt-BR .font-dji,
.dji-ru .font-dji,
.dji-zh-CN .font-dji,
.dji-zh-TW .font-dji {
    font-family: Dji, PingFang SC, Microsoft YaHei, Helvetica Neue, Hiragino Sans GB, WenQuanYi Micro Hei, Arial, "sans-serif" !important;
    font-weight: 500 !important;
    text-transform: uppercase !important
}

.dji-de .font-dji.light,
.dji-de .font-dji .light,
.dji-en .font-dji.light,
.dji-en .font-dji .light,
.dji-es .font-dji.light,
.dji-es .font-dji .light,
.dji-fr .font-dji.light,
.dji-fr .font-dji .light,
.dji-it .font-dji.light,
.dji-it .font-dji .light,
.dji-pt-BR .font-dji.light,
.dji-pt-BR .font-dji .light,
.dji-ru .font-dji.light,
.dji-ru .font-dji .light,
.dji-zh-CN .font-dji.light,
.dji-zh-CN .font-dji .light,
.dji-zh-TW .font-dji.light,
.dji-zh-TW .font-dji .light {
    font-weight: 300 !important
}

.dji-ja,
.dji-ja .atom-design-v1 * {
    font-family: Open Sans, Gotham, Hiragino Kaku Gothic Pro W3, ãƒ’ãƒ©ã‚®ãƒŽè§’ã‚´ Pro W3, ãƒ¡ã‚¤ãƒªã‚ª, Meiryo
}

.dji-ja .atom-design-v1 dl dt,
.dji-ja .atom-design-v1 h1,
.dji-ja .atom-design-v1 h2,
.dji-ja .atom-design-v1 h3,
.dji-ja .atom-design-v1 h4,
.dji-ja .atom-design-v1 h5,
.dji-ja .atom-design-v1 h6 {
    font-family: Open Sans, PingFang SC, Microsoft YaHei, Helvetica Neue, Hiragino Sans GB, WenQuanYi Micro Hei, Arial, "sans-serif"
}

.dji-ja .btn,
.dji-ja dl dt,
.dji-ja h1,
.dji-ja h2,
.dji-ja h3,
.dji-ja h4,
.dji-ja h5,
.dji-ja h6 {
    font-family: Open Sans, PingFang SC, Microsoft YaHei, Helvetica Neue, Hiragino Sans GB, WenQuanYi Micro Hei, Arial, "sans-serif";
    font-weight: 600
}

.dji-ja .font-dji {
    text-transform: uppercase !important;
    font-family: Dji, PingFang SC, Microsoft YaHei, Helvetica Neue, Hiragino Sans GB, WenQuanYi Micro Hei, Arial, "sans-serif" !important;
    font-weight: 500 !important
}

.dji-ja .font-dji.light,
.dji-ja .font-dji .light {
    font-weight: 300 !important
}

.dji-ko {
    word-break: keep-all
}

.dji-ko,
.dji-ko .atom-design-v1 * {
    font-family: Open Sans, Gotham, Dotum, Apple SD Gothic Neo
}

.dji-ko .atom-design-v1 dl dt,
.dji-ko .atom-design-v1 h1,
.dji-ko .atom-design-v1 h2,
.dji-ko .atom-design-v1 h3,
.dji-ko .atom-design-v1 h4,
.dji-ko .atom-design-v1 h5,
.dji-ko .atom-design-v1 h6 {
    font-family: Open Sans, PingFang SC, Microsoft YaHei, Helvetica Neue, Hiragino Sans GB, WenQuanYi Micro Hei, Arial, "sans-serif"
}

.dji-ko .btn,
.dji-ko dl dt,
.dji-ko h1,
.dji-ko h2,
.dji-ko h3,
.dji-ko h4,
.dji-ko h5,
.dji-ko h6 {
    font-family: Open Sans, PingFang SC, Microsoft YaHei, Helvetica Neue, Hiragino Sans GB, WenQuanYi Micro Hei, Arial, "sans-serif";
    font-weight: 600
}

.dji-ko .font-dji {
    text-transform: uppercase !important;
    font-family: Dji, PingFang SC, Microsoft YaHei, Helvetica Neue, Hiragino Sans GB, WenQuanYi Micro Hei, Arial, "sans-serif" !important;
    font-weight: 500 !important
}

.dji-ko .font-dji.light,
.dji-ko .font-dji .light {
    font-weight: 300 !important
}

.nowrap {
    white-space: nowrap;
    font-weight: inherit
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
    color: #3b3e40;
    margin: 0
}

.h1,
h1 {
    font-size: 2.5rem;
    line-height: 1.4
}

.h1.text-compact,
h1.text-compact {
    line-height: 1.2
}

.h2,
h2 {
    font-size: 2rem;
    line-height: 1.5
}

.h2.text-compact,
h2.text-compact {
    line-height: 1.25
}

.h3,
h3 {
    font-size: 1.75rem;
    line-height: 1.429
}

.h3.text-compact,
h3.text-compact {
    line-height: 1.143
}

.h4,
h4 {
    font-size: 1.5rem
}

.h4,
.h4.text-compact,
h4,
h4.text-compact {
    line-height: 1.334
}

.h5,
h5 {
    font-size: 1.25rem;
    line-height: 1.6
}

.h5.text-compact,
h5.text-compact {
    line-height: 1.2
}

.h6,
h6 {
    font-size: 1rem
}

.h6,
.h6.text-compact,
h6,
h6.text-compact {
    line-height: 1.5
}

body {
    font-weight: 400;
    color: #3b3e40;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga", "kern";
    direction: ltr
}

.body,
body {
    font-size: 1rem
}

.body,
.body.text-compact,
body,
body.text-compact {
    line-height: 1.5
}

span.rich-text {
    font-weight: inherit
}

.flex-grid {
    display: flex;
    flex-wrap: wrap
}

.flex-cell {
    box-sizing: border-box;
    flex-shrink: 0
}

.index__grid-container___1hw-V {
    width: 1200px;
    margin: 0 auto
}

@media (max-width:768px) {
    .index__grid-container___1hw-V {
        width: 100%
    }
}

.index__grid-container-fluid___xU3DW {
    width: 100%
}

.index__grid-container___1hw-V .index__grid___VR397 {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px
}

.index__grid-container___1hw-V .index__grid___VR397.index__top___2JvZt {
    align-items: flex-start
}

.index__grid-container___1hw-V .index__grid___VR397.index__middle___2_8i0 {
    align-items: center
}

.index__grid-container___1hw-V .index__grid___VR397.index__bottom___2nxEw {
    align-items: flex-end
}

.index__grid-container___1hw-V .index__grid___VR397.index__stretch___3Psys {
    align-items: stretch
}

.index__grid-container___1hw-V .index__grid___VR397.index__baseline___1-_ZA {
    align-items: baseline
}

.index__grid-container___1hw-V .index__grid___VR397.index__left___1Chlf {
    justify-content: flex-start
}

.index__grid-container___1hw-V .index__grid___VR397.index__center___1iSrG {
    justify-content: center
}

.index__grid-container___1hw-V .index__grid___VR397.index__right___3uSj6 {
    justify-content: flex-end
}

.index__grid-container___1hw-V .index__grid___VR397.index__between___23sqT {
    justify-content: space-between
}

.index__grid-container___1hw-V .index__grid___VR397.index__around___NdH-v {
    justify-content: space-around
}

.index__grid-container___1hw-V .index__cell___3WVO8 {
    box-sizing: border-box;
    flex-shrink: 0;
    padding: 0 10px
}

.index__grid-container___1hw-V .index__cell___3WVO8.index__is___1ntA_ {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%
}

.index__grid-container___1hw-V .index__cell___3WVO8.index__is-fifth___3Uul4 {
    flex-basis: 20%;
    max-width: 20%
}

.index__grid-container___1hw-V .index__cell___3WVO8.index__is-1___pK-SX {
    flex-basis: 8.33333333%;
    max-width: 8.33333333%
}

.index__grid-container___1hw-V .index__cell___3WVO8.index__is-2___1K_-0 {
    flex-basis: 16.66666667%;
    max-width: 16.66666667%
}

.index__grid-container___1hw-V .index__cell___3WVO8.index__is-3___9Nm_8 {
    flex-basis: 25%;
    max-width: 25%
}

.index__grid-container___1hw-V .index__cell___3WVO8.index__is-4___3BEyb {
    flex-basis: 33.33333333%;
    max-width: 33.33333333%
}

.index__grid-container___1hw-V .index__cell___3WVO8.index__is-5___2BG8x {
    flex-basis: 41.66666667%;
    max-width: 41.66666667%
}

.index__grid-container___1hw-V .index__cell___3WVO8.index__is-6___S8AbL {
    flex-basis: 50%;
    max-width: 50%
}

.index__grid-container___1hw-V .index__cell___3WVO8.index__is-7___1Dd-x {
    flex-basis: 58.33333333%;
    max-width: 58.33333333%
}

.index__grid-container___1hw-V .index__cell___3WVO8.index__is-8___1gPwC {
    flex-basis: 66.66666667%;
    max-width: 66.66666667%
}

.index__grid-container___1hw-V .index__cell___3WVO8.index__is-9___3aEJb {
    flex-basis: 75%;
    max-width: 75%
}

.index__grid-container___1hw-V .index__cell___3WVO8.index__is-10___1uALE {
    flex-basis: 83.33333333%;
    max-width: 83.33333333%
}

.index__grid-container___1hw-V .index__cell___3WVO8.index__is-11___2Heae {
    flex-basis: 91.66666667%;
    max-width: 91.66666667%
}

.index__grid-container___1hw-V .index__cell___3WVO8.index__is-12___1ssvb {
    flex-basis: 100%;
    max-width: 100%
}

.index__grid-container___1hw-V .index__cell___3WVO8.index__is-offset-0___3PM2F {
    margin-left: 0
}

.index__grid-container___1hw-V .index__cell___3WVO8.index__is-offset-1___Kuz3r {
    margin-left: 8.33333333%
}

.index__grid-container___1hw-V .index__cell___3WVO8.index__is-offset-2___OQSH2 {
    margin-left: 16.66666667%
}

.index__grid-container___1hw-V .index__cell___3WVO8.index__is-offset-3___1e-GP {
    margin-left: 25%
}

.index__grid-container___1hw-V .index__cell___3WVO8.index__is-offset-4___2mmAf {
    margin-left: 33.33333333%
}

.index__grid-container___1hw-V .index__cell___3WVO8.index__is-offset-5___p8mXo {
    margin-left: 41.66666667%
}

.index__grid-container___1hw-V .index__cell___3WVO8.index__is-offset-6___1xdp2 {
    margin-left: 50%
}

.index__grid-container___1hw-V .index__cell___3WVO8.index__is-offset-7___2zGeD {
    margin-left: 58.33333333%
}

.index__grid-container___1hw-V .index__cell___3WVO8.index__is-offset-8___MRL1L {
    margin-left: 66.66666667%
}

.index__grid-container___1hw-V .index__cell___3WVO8.index__is-offset-9___3yfiq {
    margin-left: 75%
}

.index__grid-container___1hw-V .index__cell___3WVO8.index__is-offset-10___1d8FP {
    margin-left: 83.33333333%
}

.index__grid-container___1hw-V .index__cell___3WVO8.index__is-offset-11___pi6zn {
    margin-left: 91.66666667%
}

.index__grid-container-fluid___xU3DW .index__grid___VR397 {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px
}

.index__grid-container-fluid___xU3DW .index__grid___VR397.index__top___2JvZt {
    align-items: flex-start
}

.index__grid-container-fluid___xU3DW .index__grid___VR397.index__middle___2_8i0 {
    align-items: center
}

.index__grid-container-fluid___xU3DW .index__grid___VR397.index__bottom___2nxEw {
    align-items: flex-end
}

.index__grid-container-fluid___xU3DW .index__grid___VR397.index__stretch___3Psys {
    align-items: stretch
}

.index__grid-container-fluid___xU3DW .index__grid___VR397.index__baseline___1-_ZA {
    align-items: baseline
}

.index__grid-container-fluid___xU3DW .index__grid___VR397.index__left___1Chlf {
    justify-content: flex-start
}

.index__grid-container-fluid___xU3DW .index__grid___VR397.index__center___1iSrG {
    justify-content: center
}

.index__grid-container-fluid___xU3DW .index__grid___VR397.index__right___3uSj6 {
    justify-content: flex-end
}

.index__grid-container-fluid___xU3DW .index__grid___VR397.index__between___23sqT {
    justify-content: space-between
}

.index__grid-container-fluid___xU3DW .index__grid___VR397.index__around___NdH-v {
    justify-content: space-around
}

.index__grid-container-fluid___xU3DW .index__cell___3WVO8 {
    box-sizing: border-box;
    flex-shrink: 0;
    padding: 0 10px
}

.index__grid-container-fluid___xU3DW .index__cell___3WVO8.index__is___1ntA_ {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%
}

.index__grid-container-fluid___xU3DW .index__cell___3WVO8.index__is-fifth___3Uul4 {
    flex-basis: 20%;
    max-width: 20%
}

.index__grid-container-fluid___xU3DW .index__cell___3WVO8.index__is-1___pK-SX {
    flex-basis: 8.33333333%;
    max-width: 8.33333333%
}

.index__grid-container-fluid___xU3DW .index__cell___3WVO8.index__is-2___1K_-0 {
    flex-basis: 16.66666667%;
    max-width: 16.66666667%
}

.index__grid-container-fluid___xU3DW .index__cell___3WVO8.index__is-3___9Nm_8 {
    flex-basis: 25%;
    max-width: 25%
}

.index__grid-container-fluid___xU3DW .index__cell___3WVO8.index__is-4___3BEyb {
    flex-basis: 33.33333333%;
    max-width: 33.33333333%
}

.index__grid-container-fluid___xU3DW .index__cell___3WVO8.index__is-5___2BG8x {
    flex-basis: 41.66666667%;
    max-width: 41.66666667%
}

.index__grid-container-fluid___xU3DW .index__cell___3WVO8.index__is-6___S8AbL {
    flex-basis: 50%;
    max-width: 50%
}

.index__grid-container-fluid___xU3DW .index__cell___3WVO8.index__is-7___1Dd-x {
    flex-basis: 58.33333333%;
    max-width: 58.33333333%
}

.index__grid-container-fluid___xU3DW .index__cell___3WVO8.index__is-8___1gPwC {
    flex-basis: 66.66666667%;
    max-width: 66.66666667%
}

.index__grid-container-fluid___xU3DW .index__cell___3WVO8.index__is-9___3aEJb {
    flex-basis: 75%;
    max-width: 75%
}

.index__grid-container-fluid___xU3DW .index__cell___3WVO8.index__is-10___1uALE {
    flex-basis: 83.33333333%;
    max-width: 83.33333333%
}

.index__grid-container-fluid___xU3DW .index__cell___3WVO8.index__is-11___2Heae {
    flex-basis: 91.66666667%;
    max-width: 91.66666667%
}

.index__grid-container-fluid___xU3DW .index__cell___3WVO8.index__is-12___1ssvb {
    flex-basis: 100%;
    max-width: 100%
}

.index__grid-container-fluid___xU3DW .index__cell___3WVO8.index__is-offset-0___3PM2F {
    margin-left: 0
}

.index__grid-container-fluid___xU3DW .index__cell___3WVO8.index__is-offset-1___Kuz3r {
    margin-left: 8.33333333%
}

.index__grid-container-fluid___xU3DW .index__cell___3WVO8.index__is-offset-2___OQSH2 {
    margin-left: 16.66666667%
}

.index__grid-container-fluid___xU3DW .index__cell___3WVO8.index__is-offset-3___1e-GP {
    margin-left: 25%
}

.index__grid-container-fluid___xU3DW .index__cell___3WVO8.index__is-offset-4___2mmAf {
    margin-left: 33.33333333%
}

.index__grid-container-fluid___xU3DW .index__cell___3WVO8.index__is-offset-5___p8mXo {
    margin-left: 41.66666667%
}

.index__grid-container-fluid___xU3DW .index__cell___3WVO8.index__is-offset-6___1xdp2 {
    margin-left: 50%
}

.index__grid-container-fluid___xU3DW .index__cell___3WVO8.index__is-offset-7___2zGeD {
    margin-left: 58.33333333%
}

.index__grid-container-fluid___xU3DW .index__cell___3WVO8.index__is-offset-8___MRL1L {
    margin-left: 66.66666667%
}

.index__grid-container-fluid___xU3DW .index__cell___3WVO8.index__is-offset-9___3yfiq {
    margin-left: 75%
}

.index__grid-container-fluid___xU3DW .index__cell___3WVO8.index__is-offset-10___1d8FP {
    margin-left: 83.33333333%
}

.index__grid-container-fluid___xU3DW .index__cell___3WVO8.index__is-offset-11___pi6zn {
    margin-left: 91.66666667%
}

.index__dui-form___-W6TV {
    margin: 0 auto;
    color: #919699
}

.index__dui-form___-W6TV.index__row-submit___1kawY {
    opacity: 1;
    padding-top: 20px
}

.index__dui-form___-W6TV.index__row-submit___1kawY .index__form-group___s-4Lo {
    margin-bottom: 0
}

.index__dui-form___-W6TV button {
    margin-top: 16px;
    background-color: #fff;
    border: none;
    border-radius: 2px;
    font-size: 16px;
    line-height: 16px;
    color: #303233;
    padding: 16px 28px
}

.index__dui-form___-W6TV .index__form-group___s-4Lo {
    margin-bottom: 24px
}

.index__dui-form___-W6TV .index__form-group___s-4Lo.index__col-submit___3xG2G {
    margin-bottom: 0
}

.index__dui-form___-W6TV .index__form-group___s-4Lo input[type=number],
.index__dui-form___-W6TV .index__form-group___s-4Lo input[type=tel],
.index__dui-form___-W6TV .index__form-group___s-4Lo input[type=text],
.index__dui-form___-W6TV .index__form-group___s-4Lo textarea {
    -webkit-appearance: none;
    display: block;
    width: 100%;
    height: 40px;
    background: #494b4d;
    padding: 5px 0;
    border: none;
    font-size: 16px;
    line-height: 30px;
    text-indent: 8px;
    outline: none;
    color: inherit
}

.index__dui-form___-W6TV .index__form-group___s-4Lo select {
    display: block;
    width: 100%;
    height: 40px;
    background: #494b4d;
    font-size: 16px;
    color: inherit;
    line-height: 30px;
    border: none;
    outline: none !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    border-radius: 0 !important;
    cursor: pointer;
    text-transform: capitalize;
    padding-left: 8px
}

.index__dui-form___-W6TV .index__form-group___s-4Lo select::-ms-expand {
    display: none
}

.index__dui-form___-W6TV .index__form-group___s-4Lo select option {
    color: rgba(0, 0, 0, .75)
}

.index__dui-form___-W6TV .index__form-group___s-4Lo .index__fa-caret-down___2pBvG {
    position: absolute;
    display: block;
    bottom: 13px;
    right: 23px
}

.index__dui-form___-W6TV .index__form-group___s-4Lo i.index__fa-spinner___1kTl9 {
    position: absolute;
    top: 50%;
    right: -10px;
    margin-top: -9px;
    font-size: 20px;
    opacity: .7
}

.index__dui-form___-W6TV .index__form-group___s-4Lo label.index__error___2w8rV {
    right: 11px;
    top: 37px
}

.index__dui-form___-W6TV label.index__checkbox-container___226eq {
    position: relative;
    min-width: 230px;
    margin: 0 8px 8px 40px;
    padding-left: 20px;
    font-size: 16px;
    cursor: pointer;
    color: #707473
}

.index__dui-form___-W6TV label.index__checkbox-container___226eq .index__fa___3-pNY {
    font-size: 12px;
    transform: scale(.66);
    position: absolute;
    left: 0;
    top: 2px;
    color: #fff;
    padding: 2px;
    background: #fff;
    border: 1px solid #d8d8d8
}

.index__dui-form___-W6TV label.index__checkbox-container___226eq input[type=checkbox] {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0
}

.index__dui-form___-W6TV label.index__checkbox-container___226eq input[type=checkbox]:checked+.index__fa___3-pNY {
    border: 1px solid #44a8f2;
    background: #44a8f2
}

.index__dui-form___-W6TV label.index__checkbox-container___226eq p {
    padding-left: 6px
}

.index__dui-btn___3Xvyl {
    display: inline-block;
    color: #fff;
    height: 46px;
    font-size: 16px;
    line-height: 16px;
    padding: 15px 32px;
    border: none;
    border-radius: 2px;
    outline: none;
    cursor: pointer;
    transition: all .3s ease
}

.index__dui-btn___3Xvyl.index__active___GPAYV,
.index__dui-btn___3Xvyl:hover {
    color: #fff;
    text-decoration: none
}

.index__dui-btn-sm___18XKi {
    height: 30px;
    font-size: 14px;
    line-height: 14px;
    padding: 8px 16px
}

.index__dui-btn-primary___21WsD {
    background: #3c3e40;
    background-image: linear-gradient(-180deg, #3c3e40, #303233)
}

.index__dui-btn-primary___21WsD.index__active___GPAYV,
.index__dui-btn-primary___21WsD:hover {
    background-image: linear-gradient(-180deg, #545759, #303233)
}

.index__dui-btn-normal___2Khw6 {
    background: #3c3e40;
    background-image: linear-gradient(-180deg, #3c3e40, #303233)
}

.index__dui-btn-normal___2Khw6.index__active___GPAYV,
.index__dui-btn-normal___2Khw6:hover {
    background-image: linear-gradient(-180deg, #545759, #303233)
}

.index__dui-btn-buy___2cPPF {
    background: #1e9df7;
    background-image: linear-gradient(-180deg, #1e9df7, #1392ed)
}

.index__dui-btn-buy___2cPPF.index__active___GPAYV,
.index__dui-btn-buy___2cPPF:hover {
    background-image: linear-gradient(-180deg, #4cb5ff, #1392ed)
}

.index__dui-learn-more___3A4OO {
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    line-height: 46px;
    height: 46px;
    color: #303233;
    cursor: pointer
}

.index__dui-learn-more___3A4OO.index__active___GPAYV,
.index__dui-learn-more___3A4OO:hover {
    color: #616466;
    text-decoration: none
}

.index__dui-learn-more___3A4OO i.index__fa-angle-right___1cNUw {
    margin-left: 8px;
    font-weight: 600
}

@keyframes index__sk-bouncedelay___3_rtG {
    0%,
    80%,
    to {
        transform: scale(0)
    }
    40% {
        transform: scale(1)
    }
}

.index__spinner___28vWx {
    margin: 0 auto;
    width: 82px;
    text-align: center
}

.index__spinner___28vWx>div {
    margin: 0 2px;
    width: 18px;
    height: 18px;
    background-color: #fff;
    border-radius: 100%;
    display: inline-block;
    animation: index__sk-bouncedelay___3_rtG 1.4s ease-in-out infinite both
}

.index__spinner___28vWx .index__bounce1___3w1d0 {
    animation-delay: -.32s
}

.index__spinner___28vWx .index__bounce2___lAAJ_ {
    animation-delay: -.16s
}

a.dui-link {
    color: #1890ff
}

a.dui-link:hover {
    text-decoration: underline
}

[data-aos][data-aos][data-aos-easing=linear],
body[data-aos-easing=linear] [data-aos] {
    transition-timing-function: cubic-bezier(.25, .25, .75, .75)
}

[data-aos][data-aos][data-aos-easing=ease],
body[data-aos-easing=ease] [data-aos] {
    transition-timing-function: ease
}

[data-aos][data-aos][data-aos-easing=ease-in],
body[data-aos-easing=ease-in] [data-aos] {
    transition-timing-function: ease-in
}

[data-aos][data-aos][data-aos-easing=ease-out],
body[data-aos-easing=ease-out] [data-aos] {
    transition-timing-function: ease-out
}

[data-aos][data-aos][data-aos-easing=ease-in-out],
body[data-aos-easing=ease-in-out] [data-aos] {
    transition-timing-function: ease-in-out
}

[data-aos][data-aos][data-aos-easing=ease-in-back],
body[data-aos-easing=ease-in-back] [data-aos] {
    transition-timing-function: cubic-bezier(.6, -.28, .735, .045)
}

[data-aos][data-aos][data-aos-easing=ease-out-back],
body[data-aos-easing=ease-out-back] [data-aos] {
    transition-timing-function: cubic-bezier(.175, .885, .32, 1.275)
}

[data-aos][data-aos][data-aos-easing=ease-in-out-back],
body[data-aos-easing=ease-in-out-back] [data-aos] {
    transition-timing-function: cubic-bezier(.68, -.55, .265, 1.55)
}

[data-aos][data-aos][data-aos-easing=ease-in-sine],
body[data-aos-easing=ease-in-sine] [data-aos] {
    transition-timing-function: cubic-bezier(.47, 0, .745, .715)
}

[data-aos][data-aos][data-aos-easing=ease-out-sine],
body[data-aos-easing=ease-out-sine] [data-aos] {
    transition-timing-function: cubic-bezier(.39, .575, .565, 1)
}

[data-aos][data-aos][data-aos-easing=ease-in-out-sine],
body[data-aos-easing=ease-in-out-sine] [data-aos] {
    transition-timing-function: cubic-bezier(.445, .05, .55, .95)
}

[data-aos][data-aos][data-aos-easing=ease-in-quad],
body[data-aos-easing=ease-in-quad] [data-aos] {
    transition-timing-function: cubic-bezier(.55, .085, .68, .53)
}

[data-aos][data-aos][data-aos-easing=ease-out-quad],
body[data-aos-easing=ease-out-quad] [data-aos] {
    transition-timing-function: cubic-bezier(.25, .46, .45, .94)
}

[data-aos][data-aos][data-aos-easing=ease-in-out-quad],
body[data-aos-easing=ease-in-out-quad] [data-aos] {
    transition-timing-function: cubic-bezier(.455, .03, .515, .955)
}

[data-aos][data-aos][data-aos-easing=ease-in-cubic],
body[data-aos-easing=ease-in-cubic] [data-aos] {
    transition-timing-function: cubic-bezier(.55, .085, .68, .53)
}

[data-aos][data-aos][data-aos-easing=ease-out-cubic],
body[data-aos-easing=ease-out-cubic] [data-aos] {
    transition-timing-function: cubic-bezier(.25, .46, .45, .94)
}

[data-aos][data-aos][data-aos-easing=ease-in-out-cubic],
body[data-aos-easing=ease-in-out-cubic] [data-aos] {
    transition-timing-function: cubic-bezier(.455, .03, .515, .955)
}

[data-aos][data-aos][data-aos-easing=ease-in-quart],
body[data-aos-easing=ease-in-quart] [data-aos] {
    transition-timing-function: cubic-bezier(.55, .085, .68, .53)
}

[data-aos][data-aos][data-aos-easing=ease-out-quart],
body[data-aos-easing=ease-out-quart] [data-aos] {
    transition-timing-function: cubic-bezier(.25, .46, .45, .94)
}

[data-aos][data-aos][data-aos-easing=ease-in-out-quart],
body[data-aos-easing=ease-in-out-quart] [data-aos] {
    transition-timing-function: cubic-bezier(.455, .03, .515, .955)
}

[data-aos^=fade][data-aos^=fade] {
    opacity: 0;
    transition-property: opacity, transform
}

[data-aos^=fade][data-aos^=fade].aos-animate {
    opacity: 1;
    transform: translateZ(0)
}

[data-aos=fade-up] {
    transform: translate3d(0, 100px, 0)
}

[data-aos=fade-down] {
    transform: translate3d(0, -100px, 0)
}

[data-aos=fade-right] {
    transform: translate3d(-100px, 0, 0)
}

[data-aos=fade-left] {
    transform: translate3d(100px, 0, 0)
}

[data-aos=fade-up-right] {
    transform: translate3d(-100px, 100px, 0)
}

[data-aos=fade-up-left] {
    transform: translate3d(100px, 100px, 0)
}

[data-aos=fade-down-right] {
    transform: translate3d(-100px, -100px, 0)
}

[data-aos=fade-down-left] {
    transform: translate3d(100px, -100px, 0)
}

[data-aos^=zoom][data-aos^=zoom] {
    opacity: 0;
    transition-property: opacity, transform
}

[data-aos^=zoom][data-aos^=zoom].aos-animate {
    opacity: 1;
    transform: translateZ(0) scale(1)
}

[data-aos=zoom-in] {
    transform: scale(.6)
}

[data-aos=zoom-in-up] {
    transform: translate3d(0, 100px, 0) scale(.6)
}

[data-aos=zoom-in-down] {
    transform: translate3d(0, -100px, 0) scale(.6)
}

[data-aos=zoom-in-right] {
    transform: translate3d(-100px, 0, 0) scale(.6)
}

[data-aos=zoom-in-left] {
    transform: translate3d(100px, 0, 0) scale(.6)
}

[data-aos=zoom-out] {
    transform: scale(1.2)
}

[data-aos=zoom-out-up] {
    transform: translate3d(0, 100px, 0) scale(1.2)
}

[data-aos=zoom-out-down] {
    transform: translate3d(0, -100px, 0) scale(1.2)
}

[data-aos=zoom-out-right] {
    transform: translate3d(-100px, 0, 0) scale(1.2)
}

[data-aos=zoom-out-left] {
    transform: translate3d(100px, 0, 0) scale(1.2)
}

[data-aos^=slide][data-aos^=slide] {
    transition-property: transform
}

[data-aos^=slide][data-aos^=slide].aos-animate {
    transform: translateZ(0)
}

[data-aos=slide-up] {
    transform: translate3d(0, 100%, 0)
}

[data-aos=slide-down] {
    transform: translate3d(0, -100%, 0)
}

[data-aos=slide-right] {
    transform: translate3d(-100%, 0, 0)
}

[data-aos=slide-left] {
    transform: translate3d(100%, 0, 0)
}

[data-aos^=flip][data-aos^=flip] {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition-property: transform
}

[data-aos=flip-left] {
    transform: perspective(2500px) rotateY(-100deg)
}

[data-aos=flip-left].aos-animate {
    transform: perspective(2500px) rotateY(0)
}

[data-aos=flip-right] {
    transform: perspective(2500px) rotateY(100deg)
}

[data-aos=flip-right].aos-animate {
    transform: perspective(2500px) rotateY(0)
}

[data-aos=flip-up] {
    transform: perspective(2500px) rotateX(-100deg)
}

[data-aos=flip-up].aos-animate {
    transform: perspective(2500px) rotateX(0)
}

[data-aos=flip-down] {
    transform: perspective(2500px) rotateX(100deg)
}

[data-aos=flip-down].aos-animate {
    transform: perspective(2500px) rotateX(0)
}